In [1]:
import pandas as pd
import numpy as np

In [5]:
# Load raw dataset
df = pd.read_csv("../data/albania_youth_dataset.csv")

In [6]:
print(df.shape)
print(df.head())
print(df.info())

(8, 8)
   year  emigrants_15_29  neet_rate_15_29  tertiary_enrollment_total_18_24  \
0  2016            27790             30.0                           141410
1  2017            20624             29.7                           131618
2  2018            11765             28.6                           139043
3  2019            13904             26.6                           130264
4  2020            14121             27.9                           123797

   pop_20_24  tertiary_enrollment_rate_18_24  avg_gross_monthly_wage_all  \
0     256899                           55.06                       47522
1     254172                           51.81                       48967
2     247137                           56.26                       50589
3     236981                           54.97                       52380
4     226425                           54.69                       53662

   pct_asylum_15_29
0             30.24
1             32.62
2             34.02
3             32.62
4             32.83
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   year                             8 non-null      int64
 1   emigrants_15_29                  8 non-null      int64
 2   neet_rate_15_29                  8 non-null      float64
 3   tertiary_enrollment_total_18_24  8 non-null      int64
 4   pop_20_24                        8 non-null      int64
 5   tertiary_enrollment_rate_18_24   8 non-null      float64
 6   avg_gross_monthly_wage_all       8 non-null      int64
 7   pct_asylum_15_29                 8 non-null      float64
dtypes: float64(3), int64(5)
memory usage: 644.0 bytes
None

In [10]:
df.columns = [
    'year',
    'youth_emigration',            
    'neet_rate',                   
    'tertiary_enrollment_total',   
    'youth_population',            
    'tertiary_enrollment_rate',    
    'avg_gross_wage',             
    'asylum_pct'   
]

In [11]:
df['year'] = df['year'].astype(int)
df['neet_rate'] = df['neet_rate'].astype(float)
df['avg_gross_wage'] = df['avg_gross_wage'].astype(float)

In [12]:
# missing values
print(df.isnull().sum())
df = df.dropna()

year                         0
youth_emigration             0
neet_rate                    0
tertiary_enrollment_total    0
youth_population             0
tertiary_enrollment_rate     0
avg_gross_wage               0
asylum_pct                   0
dtype: int64

In [13]:
df['emigration_rate_per_1000'] = (
    df['youth_emigration'] / df['youth_population'] * 1000
)

In [14]:

# Save cleaned dataset
df.to_csv('../data/cleaned_albania_youth_data.csv', index=False)
print("✅ Cleaned data saved.")

✅ Cleaned data saved.