In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load clean dataset
df = pd.read_csv('../data/cleaned_albania_youth_data.csv')

In [3]:
# Summary statistics
print(df.describe())
print(df.info())

             year  youth_emigration  neet_rate  tertiary_enrollment_total  \
count     8.00000          8.000000   8.000000                   8.000000
mean   2019.50000      16173.750000  27.387500              128928.375000
std       2.44949       5449.100575   1.951876                8061.619918
min    2016.00000      11765.000000  25.000000              120063.000000
25%    2017.75000      13277.750000  25.875000              123185.750000
50%    2019.50000      14012.500000  27.250000              127072.000000
75%    2021.25000      16793.750000  28.875000              133474.250000
max    2023.00000      27790.000000  30.000000              141410.000000

       youth_population  tertiary_enrollment_rate  avg_gross_wage  asylum_pct  \
count          8.000000                  8.000000        8.000000    8.000000
mean      229988.000000                 56.287500    55343.375000   30.397500
std        22814.057465                  2.965091     7684.166577    3.267208
min       196240.000000                 51.810000    47522.000000   25.480000
25%       214906.000000                 54.900000    50183.500000   28.612500
50%       231703.000000                 55.660000    53021.000000   31.430000
75%       248895.750000                 57.397500    58367.000000   32.672500
max       256899.000000                 61.180000    70539.000000   34.020000

       emigration_rate_per_1000
count                  8.000000
mean                  69.658681
std                   18.357008
min                   47.605174
25%                   60.331316
50%                   64.934350
75%                   73.477622
max                  108.174808
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   year                       8 non-null      int64
 1   youth_emigration           8 non-null      int64
 2   neet_rate                  8 non-null      float64
 3   tertiary_enrollment_total  8 non-null      int64
 4   youth_population           8 non-null      int64
 5   tertiary_enrollment_rate   8 non-null      float64
 6   avg_gross_wage             8 non-null      float64
 7   asylum_pct                 8 non-null      float64
 8   emigration_rate_per_1000   8 non-null      float64
dtypes: float64(5), int64(4)
memory usage: 708.0 bytes
None

In [4]:
# Yearly averages and totals
print(df.groupby('year')['neet_rate'].mean())
print(df.groupby('year')['youth_emigration'].sum())

year
2016    30.0
2017    29.7
2018    28.6
2019    26.6
2020    27.9
2021    26.1
2022    25.2
2023    25.0
Name: neet_rate, dtype: float64
year
2016    27790
2017    20624
2018    11765
2019    13904
2020    14121
2021    15517
2022    13721
2023    11948
Name: youth_emigration, dtype: int64

In [5]:
# Percentage changes
df['neet_rate_change'] = df['neet_rate'].pct_change()
df['wage_change'] = df['avg_gross_wage'].pct_change()

In [6]:
# Correlations
corr = df.corr(numeric_only=True)
print(corr)

                               year  youth_emigration  neet_rate  \
year                       1.000000         -0.716752  -0.951664
youth_emigration          -0.716752          1.000000   0.702849
neet_rate                 -0.951664          0.702849   1.000000
tertiary_enrollment_total -0.914124          0.582860   0.832066
youth_population          -0.990292          0.633848   0.940441
tertiary_enrollment_rate   0.817455         -0.504542  -0.813633
avg_gross_wage             0.936804         -0.578622  -0.880721
asylum_pct                -0.718481          0.117143   0.704582
emigration_rate_per_1000  -0.517186          0.967128   0.515870
neet_rate_change           0.031924          0.065164   0.289011
wage_change                0.848834         -0.395359  -0.791884

                           tertiary_enrollment_total  youth_population  \
year                                       -0.914124         -0.990292
youth_emigration                            0.582860          0.633848
neet_rate                                   0.832066          0.940441
tertiary_enrollment_total                   1.000000          0.901201
youth_population                            0.901201          1.000000
tertiary_enrollment_rate                   -0.550798         -0.856262
avg_gross_wage                             -0.811503         -0.953128
asylum_pct                                  0.616511          0.797548
emigration_rate_per_1000                    0.385215          0.417765
neet_rate_change                           -0.243261         -0.057334
wage_change                                -0.663543         -0.853955

                           tertiary_enrollment_rate  avg_gross_wage  \
year                                       0.817455        0.936804
youth_emigration                          -0.504542       -0.578622
neet_rate                                 -0.813633       -0.880721
tertiary_enrollment_total                 -0.550798       -0.811503
youth_population                          -0.856262       -0.953128
tertiary_enrollment_rate                   1.000000        0.891698
avg_gross_wage                             0.891698        1.000000
asylum_pct                                -0.834807       -0.836942
emigration_rate_per_1000                  -0.319699       -0.374632
neet_rate_change                          -0.115071        0.051662
wage_change                                0.880105        0.969670

                           asylum_pct  emigration_rate_per_1000  \
year                        -0.718481                 -0.517186
youth_emigration             0.117143                  0.967128
neet_rate                    0.704582                  0.515870
tertiary_enrollment_total    0.616511                  0.385215
youth_population             0.797548                  0.417765
tertiary_enrollment_rate    -0.834807                 -0.319699
avg_gross_wage              -0.836942                 -0.374632
asylum_pct                   1.000000                 -0.120737
emigration_rate_per_1000    -0.120737                  1.000000
neet_rate_change             0.073514                  0.083650
wage_change                 -0.913780                 -0.002338

                           neet_rate_change  wage_change
year                               0.031924     0.848834
youth_emigration                   0.065164    -0.395359
neet_rate                          0.289011    -0.791884
tertiary_enrollment_total         -0.243261    -0.663543
youth_population                  -0.057334    -0.853955
tertiary_enrollment_rate          -0.115071     0.880105
avg_gross_wage                     0.051662     0.969670
asylum_pct                         0.073514    -0.913780
emigration_rate_per_1000           0.083650    -0.002338
neet_rate_change                   1.000000    -0.071635
wage_change                       -0.071635     1.000000

In [8]:
# Interesting queries
high_neet = df[df['neet_rate'] >= 30]
print("Years with high NEET:", high_neet)

Years with high NEET:    year  youth_emigration  neet_rate  tertiary_enrollment_total  \
0  2016             27790       30.0                     141410

   youth_population  tertiary_enrollment_rate  avg_gross_wage  asylum_pct  \
0            256899                     55.06         47522.0       30.24

   emigration_rate_per_1000  neet_rate_change  wage_change
0                108.174808               NaN          NaN

In [9]:
top_emigration = df.sort_values('youth_emigration', ascending=False).head()
print("Top emigration years:", top_emigration)

Top emigration years:    year  youth_emigration  neet_rate  tertiary_enrollment_total  \
0  2016             27790       30.0                     141410
1  2017             20624       29.7                     131618
5  2021             15517       26.1                     123880
4  2020             14121       27.9                     123797
3  2019             13904       26.6                     130264

   youth_population  tertiary_enrollment_rate  avg_gross_wage  asylum_pct  \
0            256899                     55.06         47522.0       30.24
1            254172                     51.81         48967.0       32.62
5            218787                     56.63         57190.0       29.54
4            226425                     54.69         53662.0       32.83
3            236981                     54.97         52380.0       32.62

   emigration_rate_per_1000  neet_rate_change  wage_change
0                108.174808               NaN          NaN
1                 81.141904         -0.010000     0.030407
5                 70.922861         -0.064516     0.065745
4                 62.365022          0.048872     0.024475
3                 58.671370         -0.069930     0.035403